<h3>料理の詳細（レシピ）</h3>

<table>
    <tr>
        <th>料理名</th>
        <td><%= @cook.name %></td>
    </tr>
    <tr>
        <th>料理の写真</th>
        <td> <img src="<%= @cook.image %>" class="cook-image"></td>
    </tr>
    <tr>
        <th>料理の作る際のポイント</th>
        <td><%= @cook.point %></td>
    </tr>
    <tr>
        <th>料理の材料</th>
        <td><%= @cook.ingredient %></td>
    </tr>
    <tr>
        <th>料理の作り方</th>
        <td><%= @cook.recipe %></td>
    </tr>
    <tr>
        <th>料理のかかった時間</th>
        <td><%= @cook.time %></td>
    </tr>
    <tr>
        <th>対象者</th>
        <td><%= @cook.target_people %></td>
    </tr>
    <tr>
        <th>料理の分類</th>
        <td><%= @cook.target_cook %></td>
    </tr>
</table>

<div>
    <ul>
        <li><%= link_to "料理の一覧表に戻る" , cooks_path %></li>
    </ul>
</div>
