<div class="content">
  <div class="cookImage">
    <img src="https://mi-journey.jp/foodie/wp-content/uploads/2020/05/200599ethnic1.jpg" alt="料理の写真" >
  </div>

  <div class="cook-search" style="margin-block: auto;">
    <h1>料理を検索する</h1>

    <%= search_form_for @q, url:search_cooks_path do |f| %>
        <div>
          <%= f.label :name_cont, "料理名" %>
          <%= f.search_field :name_cont %>
        </div>
        <div>
          <%= f.label :time, "料理にかかった時間" %>
          <%= f.radio_button :time_lteq, '' %>指定しない
          <%= f.radio_button :time_lteq, '20' %>20分未満
          <%= f.radio_button :time_lteq, '30' %>30分未満
          <%= f.radio_button :time_lteq, '40' %>40分未満
          <%= f.radio_button :time_lteq, '50' %>50分未満
          <%= f.radio_button :time_gteq, '60' %>1時間以上
        </div>
        <div>
          <%= f.label :ingredient_cont, "食材" %>
          <%= f.search_field :ingredient_cont %>
        </div>
        <div>
          <%= f.label :target_people, "対象者" %>
          <%= f.radio_button :target_people_cont, '' %>指定なし
          <%= f.radio_button :target_people_cont, '子供' %>子供
          <%= f.radio_button :target_people_cont, '学生' %>学生
          <%= f.radio_button :target_people_cont, '社会人' %>社会人
          <%= f.radio_button :target_people_cont, '主婦' %>主婦
          <%= f.radio_button :target_people_cont, '一人暮らし' %>一人暮らし
          <%= f.radio_button :target_people_cont, '老人' %>老人
        </div>
        <div>
          <%= f.label :target_cook, "料理の分類" %>
          <%= f.radio_button :target_cook_cont, '' %>指定なし
          <%= f.radio_button :target_cook_cont, '肉類' %>肉類
          <%= f.radio_button :target_cook_cont, '魚類' %>魚類
          <%= f.radio_button :target_cook_cont, '卵' %>卵
          <%= f.radio_button :target_cook_cont, '洋風' %>洋風
          <%= f.radio_button :target_cook_cont, '和風' %>和風
          <%= f.radio_button :target_cook_cont, '中華' %>中華
        </div>
      
        <p><%= f.submit "検索" %></p>
    <% end %>
  </div>
</div>
