<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <!--ログインしたらプロフィールの設定、ログアウトができる、料理の登録ができる-->
      <div class="header-right">
        <% if user_signed_in? %>
          <div id="dropdown">
              <l class="devise-username"><%= current_user.username %></l>
              <% if current_user.image.file == nil %>
                <img src="/assets/default_icon.png" class="default_image">
              <% else %>
                <img src="<%= current_user.image %>" class="default_image">
              <% end %>
        
              <nav class="menu-bar hidden">
                <ul>
                  <li><%= link_to "料理登録", :new_cook ,class:"menu-list" %></li>
                  <li><%= link_to("プロフィール設定", "/users/edit" ,class:"menu-list") %></li>
                  <li><%= link_to("ログアウト", "/users/sign_out", method: :delete ,class:"menu-list") %></li>
                </ul>
              </nav>
          </div>
        <% else %>
          <%= link_to("ログイン", "/users/sign_in", class: "header-login-btn") %>
          <%= link_to("新規登録する", "/users/sign_up", class: "header-login-btn") %>
        <% end %>
      </div>
    </header>
    <!--フラッシュメッセージ（ログイン、新規登録-->
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

    <%= yield %>

    <fotter>
      <div class="footer-name"><%= Date .current.strftime ('%Y年 %m月 %d日') %></div>
    </fotter>
  </body>
</html>
